<%- include('header'); -%>
<h1>This is an about page</h1>
<p> This is a small site which will help you to keep track of your learnings of the day. Hope this website will help you too to be productive through out the day.</p>
<p>Note* This is recommended to use for single day use. 💖 Have a great day!</p>
<%- include('footer'); -%>